<div class="row mb-3 ml-2">
	<div class="col-md-2">
		<%= gravatar_for comment.user, size: "45" %>
	</div>
	<div class="col-md-8">
		<p class="pt-2"><%= link_to comment.user.name, comment.user %>: <%= comment.body %></p>
	</div>
	<div class="col-md-2">
		<%= link_to 'X', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %>
	</div>
</div>

<hr>