<div id="request_form<%= user.id %>">
	<% if current_user.friends.include?(user) %>
		<%= render 'cancle_friendship', user: user %>
	<% elsif current_user.friends_requested.include?(user) %>
		<%= render 'cancle_request', user: user %>
	<% else %>
		<%= render 'send_request', user: user %>
	<% end %>
</div>