<%= form_for(current_user.friendships.find_by(friend_id: user.id) || user.friendships.find_by(friend_id: current_user.id),html: { method: :delete }, remote: true, data: {confirm: "Are you sure?"}) do |f| %>
	<div><%= hidden_field_tag :user_id, user.id %></div>
  	<%= f.submit "Friend", class: "btn btn-success px-5 cancle-friendship" %>
<% end %>
