<h1>Pending friends</h1>
<ul>
<% @friend_requests.each do |friend_request| %>
	<li><%= friend_request.receiver.name %></li>
	<%= link_to 'accept', accept_path(id: friend_request.id) %> 
<% end %>
</ul>