<h1>Friend requests</h1>
<% @friend_requests.each do |friend_request| %>
	<div class="row text-center my-2">
		<div class="col-md-6">
			<div>
				<%= gravatar_for friend_request.sender, size: 40 %>
			</div>
			<div class="my-2">
				<%= link_to friend_request.sender.name, friend_request.sender %>
			</div>
		</div>
		<div class="col-md-6 mt-3">
			<%= link_to "Accept", friendships_path(friend_id: friend_request.sender.id), method: :post, class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
<%= will_paginate @friend_requests %>