<%= form_with(model: @post, local: true) do |form| %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>